* {
    box-sizing: border-box;
}

body {
    width: 900px;
    margin:auto;
    font-family: monospace;
}

a:link {
    color: brown;
}

a:visited {
    color: blue;
}

header {
    padding: 1px;
    background-color: rgb(197, 196, 196);
    margin: 0;
    text-align: center;
}

nav {
    padding: 10px;
    padding-left: 0;
    background-color: rgb(232, 230, 230);
}

ul.aaa {
    text-align: center;
}

ul.aaa li {
    /* bullet point position */
    list-style-position: inside;
}

main {
    padding: 10px;
    background-color: rgb(82, 80, 80);
    display: inline-block;
}

h2 {
    text-align: center;
}

article {
    width: 60%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(124, 122, 122);
    display: inline-block;
}

.container {
    width: 100%;
    height: 150px;
    line-height: 3.5;
}

.box1 {
    width: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgb(214, 213, 213);
    border: 5px solid rgb(188, 201, 90);
}

.box {
    display: inline-block;
    width: 28.4%;
    height: 130px;
    padding: 10px;
    background-color: rgb(214, 213, 213);
    border: 5px solid rgb(188, 201, 90);
    margin: 10px;
    font-size: 20pt;
    text-align: center;
    vertical-align: baseline;
}

aside {
    width: 35.4%;
    height: 20%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(124, 122, 122);
    float: right;
}

.box2 {
    width: auto;
    height: 214px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(214, 213, 213);
    border: 5px solid rgb(188, 201, 90);
}

.title {
    width: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgb(214, 213, 213);
    border: 5px solid rgb(188, 201, 90);
}

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(177, 179, 179);
    clear: both;

}

.container2 {
    line-height: 120px;
    text-align: center;
}
